/* reset default styles */



header {


}

body {


}

.pageHeader {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0;
  font-family: cabin;
}

/* cards container */
.charContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
 
  
}

/* character card container */
.charCard {
  background-color:white;
  border: 1px solid rgb(0, 0, 0);
  margin: 5px;
  display: flex;
  flex-direction: column;

}

/* character card header */
.charHeadContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: oswald;
  justify-content: center;
  flex-wrap: wrap;
  
}

.charHeadContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
   
}


.charHeadContainer h2 {
  display: flex;
  margin-bottom: 0;
  flex-direction: column;
  align-items: center;
  height: 100px;
}

.charHeadContainer .favIcon {
 
}

/* character additional details - films */
.charAddlDetail {
  margin-top: 0;
  margin-bottom: 0;
}

.charBtnOptions{
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 1em;
}
.charFilmsList {
  margin-top: 0;
}

.charFilm {
  margin-left: 0.5rem;
}

.charDetailsList{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charDetailsList li{ 
  margin: 5px;
}

.primaryButton{

}

.secondaryButton{

}

